
body, html {
    height: 1000px;
    font-family: 'Allerta Stencil';font-size: 18px;
   
}



.main-wrapper {
	
	height: 100%; 
	background-image: url("room.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	
}

.main-wrapper h1 {
	text-align: center;
	background: rgba(192,192,192,0.4);

}


.wrapper {
	border-radius: 18px;
	padding-left: 10%
	padding-right: 10%;
	width: 80%;
	margin-top: 10px;
	background: rgba(192,192,192,0.4);
	display: block;
    margin-left: auto;
    margin-right: auto
}


.quiz {
	background: rgba(192,192,192,0.4);
	display: block;
    margin-left: auto;
    margin-right: auto
    width: 80%;
    padding-left: 10%
	padding-right: 10%;
    font-size: 14px;
    padding-bottom: 10px;
}
.question p {
	line-height: 10%;
}
.question {
	padding-top: 10px;
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
}

p {
  text-align: center;
  vertical-align: middle;
  
}

.answers li { 
list-style: upper-alpha; 
} 

label { 
margin-left: 0.5em; 
cursor: pointer; 
} 

#check { 
border-radius: 18px;
margin-left: auto;
margin-right: auto;
background: rgba(10,40,250,0.7);
color: 000000; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid black; 
}

#check:hover { 
background: rgba(50,50,250,0.4);
color: #ffffff; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
} 

#categorylist { 
margin-top: 6px; 
display: none; 
} 

#false { 
font-size: 18px;
display: none; 
border-radius: 18px;
border: 1px solid black;
padding-left: 10%
padding-right: 10%;
width: 80%;
height: 40px;
line-height: 10px;
background: rgba(192,0,0,0.4);
margin-left: auto;
margin-right: auto
}

#false p {
	color: black;
}


#closing {
display: none;
font-style: italic;
}

#check {
	margin-top: 30px;
	margin-bottom: 30px;
}

.wrapper_main{
	padding-top: 20px;
	margin-bottom: 30px;
}

#true {
	display: none; 
	position: relative;
  	padding-bottom: 56.25%;
}

#true iframe {
	position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
}
