
body, html {
    top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: 'Allerta Stencil';font-size: 18px;
}



#canvas{
height: 100%;
width: 100%;
position: fixed;
z-index: -200;

}

.main-wrapper {
  box-sizing: border-box;
  position: relative;
	/*background-image: url("tramLisabo.jpg");*/
	/* background: rgb(157, 244, 16); */
	/* background-position: center; */
	/* background-size: cover; */
	overflow: hidden;

}

.main-wrapper h1 {
	text-align: center;
	background: rgba(192,192,192,0.4);
  color: black;
}


.wrapper {
  position: relative;
	border-radius: 18px;
	width: 100%;
	margin-top: 10px;
	background: rgba(192,192,192,0.4);
	display: block;
  margin-left: auto;
  margin-right: auto
}


.quiz {
  	background: rgba(192,192,192,0.4);
	  display: block;
    margin-left: auto;
    margin-right: auto
    width: 80%;
    padding-left: 10%
    font-size: 14px;
    padding-bottom: 10px;
    position: relative;
}
.question p {
	line-height: 10%;
}
.question {
	padding-top: 10px;
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
}

.answers {
	padding-left: 4px;
}

p {
  text-align: center;
  vertical-align: middle;

}

label {
margin-left: 0.5em;
cursor: pointer;
}

#check {
border-radius: 18px;
margin-left: auto;
margin-right: auto;
background: rgba(250, 10, 10, 0.7);
color: 000000;
padding: 3px;
text-align: center;
width: 200px;
cursor: pointer;
border: 1px solid black;
}

#check:hover {
background: rgba(50,50,250,0.4);
color: #ffffff;
padding: 3px;
text-align: center;
width: 200px;
cursor: pointer;
border: 1px solid gray;
}

#categorylist {
margin-top: 6px;
display: none;
}

#category1 {
font-size: 18px;
display: none;
border-radius: 18px;
border: 1px solid black;
padding-left: 10%
padding-right: 10%;
width: 80%;
height: 40px;
line-height: 10px;
background: rgba(192,0,0,0.4);
margin-left: auto;
margin-right: auto
}

#category1 p {
	color: black;
}


#closing {
display: none;
font-style: italic;
}

#check {
	margin-top: 30px;
	margin-bottom: 30px;
}

.wrapper_main{
	padding-top: 20px;
	margin-bottom: 30px;
}

#category2 {
	display: none;
	position: relative;
  	padding-bottom: 56.25%;
}

#category2 iframe {
	position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
}

.balloon {
  float: right;
  right: 5px;
  display: inline-block;
  width:65px;
  height:100px;
  background:rgb(49, 9, 105);
  border-radius:80%;
  position:absolute;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  z-index:10;
  animation:balloons 4s ease-in-out infinite;
  transform-origin:bottom center;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
  content:"▲";
  font-size:20px;
  color:hsl(215,30%,50%);
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-12px;
  z-index:-100;
}



.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:6.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s;}
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }
